@charset "utf-8";
$designWidth: 375;
@function px( $px) {
  @return $px*187.5/$designWidth/20+rem;
}

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  font-weight: normal;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
li {
  list-style: none;
}

svg {
  fill: currentColor;
}

button,
input,
select,
textarea {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 14px;
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

a {
  border: none;
  text-decoration: none;
}

a,
button,
input,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: none;
}

body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  height: px(44);
  background: #000;
  font: px(16) / px(44) "Microsoft YaHei";
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
  i {
    position: absolute;
    display: block;
    left: px(10);
    top: px(12);
    width: px(30);
    font-size: px(20) !important;
  }
}
.drawer-box{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: .3s all;
  left: px(-400);
  top: 0;
}
.drawer-box.active{
  left: 0;
  &:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
.g-drawer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: px(264);
  z-index: 99;
  background-color: #f1e7e8;
  &.active {
    left: px(0);
  }
  .user-content {
    overflow: hidden;
    height: px(180);
    background-color: #030919;
    img {
      display: block;
      border-radius: 50%;
      margin: px(20) auto px(10);
      width: px(60);
      height: px(60);
    }
    p {
      color: #fff;
      font-size: px(12);
      text-align: center;
    }
  }
  .list {
    padding: px(20) px(30);
    &, a {
      font-size: px(14);
      color: #1c1818;
    }
    ul {
      margin: px(20);
    }
    li {
      margin-top: px(10);
    }
    .tit {
      position: relative;
      &:before {
        content: '';
        display: block;
        width: px(6);
        height: px(10);
        border-radius: 50%;
        background-color: #6288f3;
        position: absolute;
        left: px(-10);
        top: px(7);
      }
    }
  }
}

.g-carousel {
  height: px(220);
  .dot-list {
    span {
      background: transparent;
      box-shadow: 0 0 0 px(2) #fff;
      margin: 0 px(10) !important;
      &.swiper-pagination-bullet-active {
        background: #000;
        box-shadow: 0 0 0 px(2) #fff, 0 0 0 px(3) #000;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.g-info {
  padding: 0 px(18);
  h3 {
    font: px(18)/px(38) "Microsoft YaHei";
  }
  p {
    font-size: px(12);
  }
}

nav {
  display: flex;
  border-top: 1px solid #e0e0e0;
  padding: px(20) 0;
  margin-top: px(10);
  a {
    display: flex;
    flex: 1;
    border: 1px solid #c4ccf7;
    margin: 0 px(6);
    color: #3a57ef;
    justify-content: center;
    font: px(16)/px(60) "Microsoft YaHei";
  }
}

footer {
  text-align: center;
  .qrCode {
    display: block;
    width: px(180);
    height: px(180);
    margin: 0 auto;
  }
  span {
    font-size: px(14);
  }
}

.form-group {
  position: relative;
  width: px(300);
  height: px(36);
  margin: px(30) auto;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #d2cdcd;
    text-indent: px(38);
    box-sizing: content-box;
    padding-right: px(42);
    &.nti {
      text-indent: px(6);
    }
  }
  label {
    position: absolute;
    color: #2872d8;
    font-size: px(20);
    top: px(6);
    left: px(8);
  }
  i {
    position: absolute;
    font-size: px(20);
    right: px(10);
    top: px(10);
    color: #d2cdcd;
    border-left: 1px solid #d2cdcd;
    padding-left: px(10);
  }
}

.g-weight {
  height: auto;
  .weight-content {
    display: flex;
    margin-top: px(10);
  }
  p {
    font-size: px(16);
  }
  input,
  label {
    position: relative;
  }
  input {
    display: none;
  }
  label {
    display: flex;
    flex: 1;
    border: 1px solid #c4ccf7;
    justify-content: center;
    align-items: center;
    margin: 0 px(8);
    height: px(70);
    color: #3e3c3c;
    font-size: px(14);
  }
  input[type="radio"]:checked + label {
    border-color: #2872d8
  }
}

.g-intro {
  p {
    color: #373435;
    font-size: px(12);
    width: px(300);
    margin: 0 auto;
  }
  label,
  input {
    position: relative;
  }
  label {
    color: #373435;
    font-size: px(12);
    left: 22%;
  }
  input {
    width: px(16);
    height: px(16);
    vertical-align: middle;
  }
}

.g-submit {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: px(46);
  margin: 0;
  input, a {
    display: block;
    height: 100%;
    text-align: center;
    background: #6288f3;
    text-indent: 0;
    color: #fff;
    font-size: px(20);
    line-height: px(46);
    &.ban {
      background: #ced2d3;
    }
  }
}

#msg {
  display: none;
  position: absolute;
  bottom: px(120);
  left: 50%;
  transform: translate(-50%, 0);
  width: px(300);
  height: px(40);
  text-align: center;
  font: px(16)/px(40) "Microsoft YaHei";
  background: #6288f3;
  color: #fff;
  box-shadow: 0 0 px(20) px(5) #ccc;
}

.g-scusess {
  text-align: center;
  img {
    width: 60%;
    margin: px(100) auto px(10);
  }
  p {
    color: #000;
    font-size: px(15);
  }
}

.g-qrdq {
  padding: px(12);
  color: #bfbfbf;
  font-size: px(14);
  tr {
    height: px(42);
  }
  td {
    position: relative;
  }
  input {
    border: none;
    width: 100%;
    padding-bottom: px(4);
    text-indent: px(10);
    border-bottom: px(1) solid #bfbfbf;
    &::-webkit-input-placeholder {
      color: #bfbfbf;
    }
    &::placeholder {
      color: #bfbfbf;
    }
  }
  .sprite {
    display: block;
    width: px(1);
    height: px(12);
    background-color: #717279;
    position: absolute;
    right: 0;
    top: px(14);
  }
  .qu {
    width: px(48);
    height: px(36);
    color: #6f5af0;
    border-radius: px(6);
    background-color: #e7e9f2;
    text-align: center;
    line-height: px(36);
    font-size: px(24);
  }
  .g-tips {
    label {
      width: px(77);
      height: px(30);
    }
    input[type="radio"]:checked + label {
      background-color: #6288f3;
      color: #fff;
    }
  }

}
.g-pays{
  margin-top:px(20);
  .tit{
    color: #006bd2;
    font-size:px(14);
  }
  input[type="radio"]:checked + label {
    background-color: #6288f3;
    color: #fff;
  }
}
.g-wechat-pay {
  border-top: px(2) solid #d0d0d0;
  padding: px(20) px(25);
  &.g-wechat-pay2{
    padding:px(20) px(45);
  }
  input {
    display: none;
  }
  label {
    color: #38b035;
    font-size: px(20);
    float: right;
  }
  input[type="checkbox"]:checked + label {
    color: #b5b5b5;
  }
  .icon {
    color: #4c4949;
    font-size: px(14);
    float: left;
    i {
      background-color: #38b035;
      color: #fff;
      font-size: px(20);
      padding: px(5);
      border-radius: px(3);
      margin-right: px(10);
    }
  }
}

.g-search {
  padding: px(45) px(30) px(100);
  border-bottom: px(1) solid #e1e1e1;
  margin-bottom: px(50);
  &.g-search2 {
    padding-bottom: px(20);
    margin-bottom: 0;
  }
  .tit {
    position: relative;
    color: #4971f5;
    font-size: px(14);
    text-align: center;
    &:before, &:after {
      content: '';
      position: absolute;
      left: 0;
      top: px(10);
      width: 36%;
      height: px(1);
      background-color: #d2cdcd;
    }
    &:after {
      right: 0;
      left: auto;
    }
  }
  .input {
    border: px(1) solid #d2cdcd;
    color: #d2cdcd;
    position: relative;
    height: px(40);
    margin: px(20) auto px(30);
    overflow: hidden;
    svg {
      width: px(24);
      height: px(24);
      position: absolute;
      margin: px(10);
      right: 0;
    }
    input {
      border: none;
      width: 100%;
      position: absolute;
      top: 0;
      height: px(40);
      text-indent: px(10);
      font-size: px(14);
      &::-webkit-input-placeholder {
        color: #d2cdcd;
      }
      &::placeholder {
        color: #d2cdcd;
      }
    }
  }
  .submit {
    background-color: #3090f4;
    height: px(43);
    color: #fff;
    font-size: px(20);
    text-align: center;
    line-height: px(43);
    border: none;
    width: 100%;
  }
}

.g-list {
  .tit {
    color: #756e6e;
    font-size: px(15);
    line-height: px(40);
    padding-left: px(26);
    border-bottom: px(1) solid #e1e1e1;
  }
  li {
    margin-left: px(46);
    border-bottom: px(1) solid #e1e1e1;
    color: #9c9393;
    font-size: px(12);
    padding: px(12) 0;
    svg {
      float: left;
      width: px(26);
      height: px(26);
    }
    .detail {
      overflow: hidden;
      margin-left: px(40);
      line-height: 1.8;
    }
  }
  .no-data {
    text-align: center;
    padding-top: px(110);
    background: url(../images/no-res.png) no-repeat;
    background-size: contain;
    width: px(124);
    margin: px(30) auto 0;
    font-size: px(15);
    color: #9c9393;
  }
}

.g-address {
  padding: 0 10%;
  input {
    width: 100%;
    border: none;
    border-bottom: px(1) solid #bfbfbf;
    font-size: px(15);
    padding: px(10) px(6);
    margin-top: px(10);
    &::-webkit-input-placeholder {
      color: #bfbfbf;
    }
    &::placeholder {
      color: #bfbfbf;
    }
    &[type='checkbox'] {
      display: none;
      &:checked + label {
        i {
          color: #38b035;
        }
      }
    }
  }
  div {
    position: relative;
  }
  label {
    color: #bfbfbf;
    font-size: px(15);
  }
  .lab-address {
    position: absolute;
    right: 0;
    top: px(26);
    i {
      font-size: px(20);
    }
  }
  .lab-default {
    i {
      padding-right: px(10);
      font-size: px(16);
    }
  }
}

.g-eCard{
  padding:px(20) px(45);
  .ipts{
    position: relative;
    padding-left:px(50);
    color: #3090f4;
    box-sizing: border-box;
    width:100%;
    input{
      display: block;
      width:100%;
      border:none;
      border-bottom:px(1) solid #525757;
      font-size:px(14);
      padding:px(4) 0;
      margin:px(8) 0;
    }
    &:before{
      position: absolute;
      left:px(10);
      top:px(25);
    }
  }
}

.g-order{
  height:100%;
  li{
    display: block;
    width:100%;
    height:100%;
  }
}

.g-no-address{
  font-size:px(15);
  color: #525775;
  text-align: center;
  padding-top:px(100);
}
.g-address-list{
  padding:px(10) px(40);
  .address-contain{
    margin-top:px(20);
    p,label{
      color: #525757;
      font-size:px(14);
      float: right;
    }
    .name,label{
      float: left;
    }
    input{
      display: block;
      border:none;
    }
    .user-info{
      margin-bottom:px(10);
    }
  }
  .opt{
    border-top:px(1) solid #bfbfbf;
    border-bottom:px(1) solid #bfbfbf;
    padding:px(5) 0;
    margin-top:px(10);
    input {
      display: none;
    }
    input[type="checkbox"]:checked + label {
      color: #b5b5b5;
    }
    a{
      color: #6288f3;
      font-size:px(15);
      float: right;
      margin-left:px(10);
    }
  }
}