@charset "utf-8";
$designWidth: 375;
@function px( $px) {
  @return $px*187.5/$designWidth/20+rem;
}

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  font-weight: normal;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul,
li {
  list-style: none;
}

button,
input,
select,
textarea {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 14px;
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.clearfix {
  *zoom: 1;
}

a {
  border: none;
  text-decoration: none;
}

a,
button,
input,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
  border: none;
}

body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  height: px(44);
  background: #000;
  font: px(16) / px(44) "Microsoft YaHei";
  color: #fff;
  text-align: center;
  a {
    color: #fff;
  }
  i {
    position: absolute;
    display: block;
    left: px(10);
    top: px(12);
    width: px(30);
    font-size: px(20) !important;
  }
}

.g-carousel {
  height: px(220);
  .dot-list {
    span {
      background: transparent;
      box-shadow: 0 0 0 px(2) #fff;
      margin: 0 px(10) !important;
      &.swiper-pagination-bullet-active {
        background: #000;
        box-shadow: 0 0 0 px(2) #fff, 0 0 0 px(3) #000;
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.g-info {
  padding: 0 px(18);
  h3 {
    font: px(18)/px(38) "Microsoft YaHei";
  }
  p {
    font-size: px(12);
  }
}

nav {
  display: flex;
  border-top: 1px solid #e0e0e0;
  padding: px(20) 0;
  margin-top: px(10);
  a {
    display: flex;
    flex: 1;
    border: 1px solid #c4ccf7;
    margin: 0 px(6);
    color: #3a57ef;
    justify-content: center;
    font: px(16)/px(60) "Microsoft YaHei";
  }
}

footer {
  text-align: center;
  .qrCode {
    display: block;
    width: px(180);
    height: px(180);
    margin: 0 auto;
  }
  span {
    font-size: px(14);
  }
}

.form-group {
  position: relative;
  width: px(300);
  height: px(36);
  margin: px(30) auto;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #d2cdcd;
    text-indent: px(38);
    &.nti {
      text-indent: px(6);
    }
  }
  label {
    position: absolute;
    color: #2872d8;
    font-size: px(20);
    top: px(6);
    left: px(8);
  }
  i {
    position: absolute;
    font-size: px(20);
    right: px(10);
    top: px(10);
    color: #d2cdcd;
    border-left: 1px solid #d2cdcd;
    padding-left: px(10);
  }
}

.g-weight {
  height: auto;
  .weight-content {
    display: flex;
    margin-top: px(10);
  }
  p {
    font-size: px(16);
  }
  input,
  label {
    position: relative;
  }
  input {
    display: none;
  }
  label {
    display: flex;
    flex: 1;
    border: 1px solid #c4ccf7;
    justify-content: center;
    align-items: center;
    margin: 0 px(8);
    height: px(70);
    color: #3e3c3c;
    font-size: px(14);
  }
  input[type="radio"]:checked+label {
    border-color: #2872d8
  }
}

.g-intro {
  position: fixed;
  bottom: px(100);
  left: 50%;
  transform: translate(-50%, 0);
  p {
    color: #373435;
    font-size: px(12);
    width: px(300);
    margin: 0 auto;
  }
  label,
  input {
    position: relative;
  }
  label {
    color: #373435;
    font-size: px(12);
    left: 22%;
  }
  input {
    width: px(16);
    height: px(16);
    vertical-align: middle;
  }
}

.g-submit {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: px(46);
  margin: 0;
  input {
    background: #6288f3;
    text-indent: 0;
    color: #fff;
    font-size: px(20);
    &.ban {
      background: #ced2d3;
    }
  }
}

#msg {
  display: none;
  position: absolute;
  bottom: px(120);
  left: 50%;
  transform: translate(-50%, 0);
  width: px(300);
  height: px(40);
  text-align: center;
  font: px(16)/px(40) "Microsoft YaHei";
  background: #6288f3;
  color: #fff;
  box-shadow: 0 0 px(20) px(5) #ccc;
}

.g-scusess {
  text-align: center;
  img {
    width: 60%;
    margin: px(100) auto px(10);
  }
  p {
    color: #000;
    font-size: px(15);
  }
}