body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  font-weight: normal; }

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none; }

ul,
li {
  list-style: none; }

svg {
  fill: currentColor; }

button,
input,
select,
textarea {
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 14px;
  outline: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

a {
  border: none;
  text-decoration: none; }

a,
button,
input,
label {
  -webkit-tap-highlight-color: transparent; }

img {
  border: none; }

body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

header {
  height: 1.1rem;
  background: #000;
  font: 0.4rem/1.1rem "Microsoft YaHei";
  color: #fff;
  text-align: center; }
  header a {
    color: #fff; }
  header i {
    position: absolute;
    display: block;
    left: 0.25rem;
    top: 0.3rem;
    width: 0.75rem;
    font-size: 0.5rem !important; }

.drawer-box {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transition: .3s all;
  left: -10rem;
  top: 0; }

.drawer-box.active {
  left: 0; }
  .drawer-box.active:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

.g-drawer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 6.6rem;
  z-index: 99;
  background-color: #f1e7e8; }
  .g-drawer.active {
    left: 0rem; }
  .g-drawer .list {
    padding: 0.5rem 0.75rem; }
    .g-drawer .list, .g-drawer .list a {
      font-size: 0.35rem;
      color: #1c1818; }
    .g-drawer .list ul {
      margin: 0.5rem; }
    .g-drawer .list li {
      margin-top: 0.25rem; }
    .g-drawer .list .tit {
      position: relative; }
      .g-drawer .list .tit:before {
        content: '';
        display: block;
        width: 0.15rem;
        height: 0.25rem;
        border-radius: 50%;
        background-color: #6288f3;
        position: absolute;
        left: -0.25rem;
        top: 0.175rem; }

.user-content {
  overflow: hidden;
  height: 4.5rem;
  background-color: #030919; }
  .user-content img {
    display: block;
    border-radius: 50%;
    margin: 0.5rem auto 0.25rem;
    width: 1.5rem;
    height: 1.5rem; }
  .user-content p {
    color: #fff;
    font-size: 0.3rem;
    text-align: center; }

.g-carousel {
  height: 5.5rem; }
  .g-carousel .dot-list span {
    background: transparent;
    box-shadow: 0 0 0 0.05rem #fff;
    margin: 0 0.25rem !important; }
    .g-carousel .dot-list span.swiper-pagination-bullet-active {
      background: #000;
      box-shadow: 0 0 0 0.05rem #fff, 0 0 0 0.075rem #000; }
  .g-carousel img {
    width: 100%;
    height: 100%; }

.g-info {
  padding: 0 0.45rem; }
  .g-info h3 {
    font: 0.45rem/0.95rem "Microsoft YaHei"; }
  .g-info p {
    font-size: 0.3rem; }

nav {
  display: flex;
  border-top: 1px solid #e0e0e0;
  padding: 0.5rem 0;
  margin-top: 0.25rem; }
  nav a {
    display: flex;
    flex: 1;
    border: 1px solid #c4ccf7;
    margin: 0 0.15rem;
    color: #3a57ef;
    justify-content: center;
    font: 0.4rem/1.5rem "Microsoft YaHei"; }

footer {
  text-align: center; }
  footer .qrCode {
    display: block;
    width: 4.5rem;
    height: 4.5rem;
    margin: 0 auto; }
  footer span {
    font-size: 0.35rem; }

.form-group {
  position: relative;
  width: 7.5rem;
  height: 0.9rem;
  margin: 0.75rem auto; }
  .form-group input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #d2cdcd;
    text-indent: 0.95rem;
    box-sizing: border-box;
    padding-right: 1.05rem; }
    .form-group input.nti {
      text-indent: 0.15rem; }
  .form-group label {
    position: absolute;
    color: #2872d8;
    font-size: 0.5rem;
    top: 0.15rem;
    left: 0.2rem; }
  .form-group i {
    position: absolute;
    font-size: 0.5rem;
    right: 0.25rem;
    top: 0.25rem;
    color: #d2cdcd;
    border-left: 1px solid #d2cdcd;
    padding-left: 0.25rem; }

.g-weight {
  height: auto; }
  .g-weight .weight-content {
    display: flex;
    margin-top: 0.25rem; }
  .g-weight p {
    font-size: 0.4rem; }
  .g-weight input,
  .g-weight label {
    position: relative; }
  .g-weight input {
    display: none; }
  .g-weight label {
    display: flex;
    flex: 1;
    border: 1px solid #c4ccf7;
    justify-content: center;
    align-items: center;
    margin: 0 0.2rem;
    height: 1.75rem;
    color: #3e3c3c;
    font-size: 0.35rem; }
  .g-weight input[type="radio"]:checked + label {
    border-color: #2872d8; }

.g-intro p {
  color: #373435;
  font-size: 0.3rem;
  width: 7.5rem;
  margin: 0 auto; }

.g-intro label,
.g-intro input {
  position: relative; }

.g-intro label {
  color: #373435;
  font-size: 0.3rem;
  left: 22%; }

.g-intro input {
  width: 0.4rem;
  height: 0.4rem;
  vertical-align: middle; }

.g-submit {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.15rem;
  margin: 0; }
  .g-submit input, .g-submit a {
    display: block;
    height: 100%;
    text-align: center;
    background: #6288f3;
    box-sizing: content-box;
    text-indent: 0;
    color: #fff;
    font-size: 0.5rem;
    line-height: 1.15rem; }
    .g-submit input.ban, .g-submit a.ban {
      background: #ced2d3; }

#msg {
  display: none;
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translate(-50%, 0);
  width: 7.5rem;
  height: 1rem;
  text-align: center;
  font: 0.4rem/1rem "Microsoft YaHei";
  background: #6288f3;
  color: #fff;
  box-shadow: 0 0 0.5rem 0.125rem #ccc; }

.g-scusess {
  text-align: center; }
  .g-scusess img {
    width: 60%;
    margin: 2.5rem auto 0.25rem; }
  .g-scusess p {
    color: #000;
    font-size: 0.375rem; }

.g-qrdq {
  padding: 0.3rem;
  color: #bfbfbf;
  font-size: 0.35rem; }
  .g-qrdq tr {
    height: 1.05rem; }
  .g-qrdq td {
    position: relative; }
  .g-qrdq input {
    border: none;
    width: 100%;
    padding-bottom: 0.1rem;
    text-indent: 0.25rem;
    border-bottom: 0.025rem solid #bfbfbf; }
    .g-qrdq input::-webkit-input-placeholder {
      color: #bfbfbf; }
    .g-qrdq input::placeholder {
      color: #bfbfbf; }
  .g-qrdq .sprite {
    display: block;
    width: 0.025rem;
    height: 0.3rem;
    background-color: #717279;
    position: absolute;
    right: 0;
    top: 0.35rem; }
  .g-qrdq .qu {
    width: 1.2rem;
    height: 0.9rem;
    color: #6f5af0;
    border-radius: 0.15rem;
    background-color: #e7e9f2;
    text-align: center;
    line-height: 0.9rem;
    font-size: 0.6rem; }
  .g-qrdq .g-tips label {
    width: 1.925rem;
    height: 0.75rem; }
  .g-qrdq .g-tips input[type="radio"]:checked + label {
    background-color: #6288f3;
    color: #fff; }

.g-pays {
  margin-top: 0.5rem; }
  .g-pays .tit {
    color: #006bd2;
    font-size: 0.35rem; }
  .g-pays input[type="radio"]:checked + label {
    background-color: #6288f3;
    color: #fff; }

.g-wechat-pay {
  border-top: 0.05rem solid #d0d0d0;
  padding: 0.5rem 0.625rem; }
  .g-wechat-pay.g-wechat-pay2 {
    padding: 0.5rem 1.125rem; }
  .g-wechat-pay input {
    display: none; }
  .g-wechat-pay label {
    color: #38b035;
    font-size: 0.5rem;
    float: right; }
  .g-wechat-pay input[type="checkbox"]:checked + label {
    color: #b5b5b5; }
  .g-wechat-pay .icon {
    color: #4c4949;
    font-size: 0.35rem;
    float: left; }
    .g-wechat-pay .icon i {
      background-color: #38b035;
      color: #fff;
      font-size: 0.5rem;
      padding: 0.125rem;
      border-radius: 0.075rem;
      margin-right: 0.25rem; }

.g-search {
  padding: 1.125rem 0.75rem 2.5rem;
  border-bottom: 0.025rem solid #e1e1e1;
  margin-bottom: 1.25rem; }
  .g-search.g-search2 {
    padding-bottom: 0.5rem;
    margin-bottom: 0; }
  .g-search .tit {
    position: relative;
    color: #4971f5;
    font-size: 0.35rem;
    text-align: center; }
    .g-search .tit:before, .g-search .tit:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0.25rem;
      width: 36%;
      height: 0.025rem;
      background-color: #d2cdcd; }
    .g-search .tit:after {
      right: 0;
      left: auto; }
  .g-search .input {
    border: 0.025rem solid #d2cdcd;
    color: #d2cdcd;
    position: relative;
    height: 1rem;
    margin: 0.5rem auto 0.75rem;
    overflow: hidden; }
    .g-search .input svg {
      width: 0.6rem;
      height: 0.6rem;
      position: absolute;
      margin: 0.25rem;
      right: 0; }
    .g-search .input input {
      border: none;
      width: 100%;
      position: absolute;
      top: 0;
      height: 1rem;
      text-indent: 0.25rem;
      font-size: 0.35rem; }
      .g-search .input input::-webkit-input-placeholder {
        color: #d2cdcd; }
      .g-search .input input::placeholder {
        color: #d2cdcd; }
  .g-search .submit {
    background-color: #3090f4;
    height: 1.075rem;
    color: #fff;
    font-size: 0.5rem;
    text-align: center;
    line-height: 1.075rem;
    border: none;
    width: 100%; }

.g-list .tit {
  color: #756e6e;
  font-size: 0.375rem;
  line-height: 1rem;
  padding-left: 0.65rem;
  border-bottom: 0.025rem solid #e1e1e1; }

.g-list li {
  margin-left: 1.15rem;
  border-bottom: 0.025rem solid #e1e1e1;
  color: #9c9393;
  font-size: 0.3rem;
  padding: 0.3rem 0; }
  .g-list li svg {
    float: left;
    width: 0.65rem;
    height: 0.65rem; }
  .g-list li .detail {
    overflow: hidden;
    margin-left: 1rem;
    line-height: 1.8; }

.g-list .no-data {
  text-align: center;
  padding-top: 2.75rem;
  background: url(../images/no-res.png) no-repeat;
  background-size: contain;
  width: 3.1rem;
  margin: 0.75rem auto 0;
  font-size: 0.375rem;
  color: #9c9393; }

.g-address {
  padding: 0 10%; }
  .g-address input {
    width: 100%;
    border: none;
    border-bottom: 0.025rem solid #bfbfbf;
    font-size: 0.375rem;
    padding: 0.25rem 0.15rem;
    margin-top: 0.25rem; }
    .g-address input::-webkit-input-placeholder {
      color: #bfbfbf; }
    .g-address input::placeholder {
      color: #bfbfbf; }
    .g-address input[type='checkbox'] {
      display: none; }
      .g-address input[type='checkbox']:checked + label i {
        color: #38b035; }
  .g-address div {
    position: relative; }
  .g-address label {
    color: #bfbfbf;
    font-size: 0.375rem; }
  .g-address .lab-address {
    position: absolute;
    right: 0;
    top: 0.65rem; }
    .g-address .lab-address i {
      font-size: 0.5rem; }
  .g-address .lab-default i {
    padding-right: 0.25rem;
    font-size: 0.4rem; }

.g-eCard {
  padding: 0.5rem 1.125rem; }
  .g-eCard .ipts {
    position: relative;
    padding-left: 1.25rem;
    color: #3090f4;
    box-sizing: border-box;
    width: 100%; }
    .g-eCard .ipts input {
      display: block;
      width: 100%;
      border: none;
      border-bottom: 0.025rem solid #525757;
      font-size: 0.35rem;
      padding: 0.1rem 0;
      margin: 0.2rem 0; }
    .g-eCard .ipts:before {
      position: absolute;
      left: 0.25rem;
      top: 0.625rem; }

.g-order {
  height: 100%; }
  .g-order li {
    display: block;
    width: 100%;
    height: 100%; }

.g-no-address {
  font-size: 0.375rem;
  color: #525775;
  text-align: center;
  padding-top: 2.5rem; }

.g-address-list {
  padding: 0.25rem 1rem; }
  .g-address-list .address-contain {
    margin-top: 0.5rem; }
    .g-address-list .address-contain p, .g-address-list .address-contain label {
      color: #525757;
      font-size: 0.35rem;
      float: right; }
    .g-address-list .address-contain .name, .g-address-list .address-contain label {
      float: left; }
    .g-address-list .address-contain input {
      display: block;
      border: none; }
    .g-address-list .address-contain .user-info {
      margin-bottom: 0.25rem; }
  .g-address-list .opt {
    border-top: 0.025rem solid #bfbfbf;
    border-bottom: 0.025rem solid #bfbfbf;
    padding: 0.125rem 0;
    margin-top: 0.25rem; }
    .g-address-list .opt input {
      display: none; }
    .g-address-list .opt input[type="checkbox"]:checked + label {
      color: #b5b5b5; }
    .g-address-list .opt a {
      color: #6288f3;
      font-size: 0.375rem;
      float: right;
      margin-left: 0.25rem; }

.g-order .tabs-nav {
  display: flex; }
  .g-order .tabs-nav a {
    display: flex;
    flex: 1;
    color: #0e1010;
    font-size: 0.3rem;
    justify-content: center;
    border-bottom: 0.025rem solid #ebe5e5;
    padding: 0.25rem 0; }
    .g-order .tabs-nav a.active {
      border-bottom-color: #3090f4; }

.order-item {
  font-size: 0.3rem;
  margin: 0.5rem;
  line-height: 1.7; }
  .order-item .sp1 {
    color: #6288f3; }
  .order-item .order-info a {
    float: right;
    margin-top: -0.5rem;
    color: #a1a3a6; }
  .order-item .address-content {
    border: solid #ebe5e5;
    border-width: 0.025rem 0;
    margin: 0.25rem 0;
    padding: 0.25rem 0; }
    .order-item .address-content.tae {
      text-align: end;
      color: #6288f3; }
    .order-item .address-content .tit {
      float: left;
      margin-right: 0.5rem; }
    .order-item .address-content .user-info {
      overflow: hidden; }
    .order-item .address-content .user {
      float: left; }
    .order-item .address-content .phone {
      float: right; }
    .order-item .address-content .address {
      clear: both; }

.goods-item {
  border-bottom: 0.025rem solid #ccc;
  padding-bottom: 0.25rem; }
  .goods-item img {
    width: 3.5rem;
    height: 2.775rem;
    float: left;
    margin-right: 0.5rem; }
  .goods-item .intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 2.775rem;
    overflow: hidden;
    color: #525757;
    font-size: 0.3rem; }
    .goods-item .intro h3 {
      font-size: 0.375rem; }
    .goods-item .intro .ext {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .goods-item .intro .price {
      color: #006bd2;
      font-size: 0.45rem; }
    .goods-item .intro .address {
      font-size: 0.35rem;
      font-weight: 700; }
  .goods-item .opt {
    border-top: 0.025rem solid #ccc;
    padding-top: 0.25rem;
    margin-top: 0.5rem; }
    .goods-item .opt a {
      float: right;
      color: #006bd2;
      font-size: 0.3rem;
      margin-left: 0.25rem; }

.lost-item {
  border-bottom: 0.025rem solid #ccc;
  padding-bottom: 0.25rem; }
  .lost-item h3 {
    text-align: center;
    color: #006bd2;
    font-size: 0.45rem;
    margin-bottom: 0.4rem; }
  .lost-item h3, .lost-item p {
    margin-bottom: 0.15rem; }
  .lost-item img {
    max-width: 7.5rem;
    display: block; }
  .lost-item.mod-editor h3 {
    font-size: 0.35rem;
    text-align: left; }
  .lost-item .opt {
    border-top: 0.025rem solid #ccc;
    padding-top: 0.25rem;
    margin-top: 0.5rem; }
    .lost-item .opt a {
      float: right;
      color: #006bd2;
      font-size: 0.3rem;
      margin-left: 0.25rem; }

.g-userinfo .form-group {
  border-bottom: 0.025rem solid #ccc; }
  .g-userinfo .form-group label {
    font-size: 0.3rem;
    top: 0.25rem;
    color: #999;
    z-index: 1000;
    left: auto; }
  .g-userinfo .form-group input {
    text-indent: 0;
    border: none;
    margin-left: 1.25rem; }
    .g-userinfo .form-group input[type='submit'] {
      margin-left: 0; }

.g-goods-post {
  padding-bottom: 2.5rem; }
  .g-goods-post .form-group {
    margin: 0.25rem auto; }
    .g-goods-post .form-group img {
      width: 1.5rem;
      height: 1.25rem;
      margin: -0.5rem 0.25rem 0 0; }
    .g-goods-post .form-group input {
      border-width: 0 0 0.025rem 0;
      text-indent: 0; }
      .g-goods-post .form-group input[type='file'] {
        display: none; }
    .g-goods-post .form-group textarea {
      width: 100%;
      height: 100%; }
    .g-goods-post .form-group .intro {
      color: #006bd2;
      font-size: 0.35rem;
      border-top: 0.025rem solid #ccc;
      padding-top: 0.25rem; }
    .g-goods-post .form-group .lb-goods {
      top: -0.5rem;
      left: auto;
      right: 0;
      height: 1.35rem;
      width: 1.45rem;
      border: 0.025rem dashed #ccc; }
      .g-goods-post .form-group .lb-goods i {
        border: none;
        font-size: 0.9rem; }
    .g-goods-post .form-group .lb-card {
      text-align: center;
      width: 3.25rem;
      height: 2rem;
      background-color: #cccccc;
      top: 1.5rem;
      left: 50%;
      transform: translateX(-50%); }
      .g-goods-post .form-group .lb-card span {
        font-size: 1.25rem;
        color: #000; }
  .g-goods-post .g-submit {
    margin-bottom: 0; }
  .g-goods-post .textarea-contain {
    height: 3.5rem; }
  .g-goods-post .card-contain {
    height: 3.25rem; }
    .g-goods-post .card-contain img {
      width: 3.25rem;
      height: 2rem;
      top: 2rem;
      left: 50%;
      transform: translateX(-50%);
      position: absolute; }

.g-lost-post .form-group label {
  font-size: 0.3rem; }

.g-lost-post .form-group select {
  position: absolute;
  left: 2.5rem;
  top: 0.05rem;
  width: 2.5rem; }
